[Unit]
Description=Apply cpupower-gui config at user login

[Service]
Type=oneshot
ExecStart=/usr/bin/cpupower-gui --apply-config

[Install]
WantedBy=graphical-session.target

