[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=CPU frequency setter
Comment=Sets the frequency limits of the CPU
Exec=/usr/bin/cpupower-gui
Icon=cpupower-gui
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;System
Name[en_GB]=cpupower-gui
